/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --header-height: 3.5rem;

    --hue: 152;
    --first-color: hsl(var(--hue), 24%, 32%);
    --first-color-alt: hsl(var(--hue), 24%, 28%);
    --first-color-light: hsl(var(--hue), 24%, 66%);
    --first-color-lighten: hsl(var(--hue), 24%, 92%);
    --title-color: hsl(var(--hue), 4%, 15%);
    --text-color: hsl(var(--hue), 4%, 32%);
    --text-color-light: hsl(var(--hue), 4%, 55%);
    --body-color: hsl(var(--hue), 0%, 100%);
    --container-color: #FFF;


    --body-font: 'Open San', sans-serif;
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    --font-medium: 500;
    --font-semi-bold: 600;

    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;

    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body,
button,
input,
textarea {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    margin: var(--header-height) 0 0 0;
    background-color: var(--body-color);
    color: var(--text-color);
    transition: .4s;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}



img {
    max-width: 100%;
    height: auto;
}

.section {
    padding: 5.5rem 0 1rem;
}

/* footer.footer.section{
    padding: 0;
} */

.section__title,
.section__title-center {
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-2);
    line-height: 140%;
}

.section__title-center {
    text-align: center;
}

.container {
    max-width: 968px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: grid;
}

.main {
    overflow: hidden;
}

.header {
    width: 100%;
    background-color: var(--body-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    transition: .4s;
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.nav.container a {
    text-transform: capitalize;
    color: black;
    text-decoration: none;
}

.nav__logo,
.nav__toggle,
.nav__close {
    color: var(--title-color);
}

/* .nav__logo {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -1px;
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    transition: .3s;
} */

.nav.nav.container a img {
    height: 80px;
}

.nav__logo-icon {
    font-size: 1.15rem;
    color: var(--first-color);
}

/* .nav__logo:hover {
    color: red;
} */

.nav__toggle {
    display: inline-flex;
    font-size: 1.25rem;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .nav__menu {
        position: fixed;
        background-color: var(--container-color);
        width: 80%;
        height: 100%;
        top: 0;
        right: -100%;
        box-shadow: -2px 0 4px hsla(var(--hue), 24%, 15%, .1);
        padding: 4rem 0 0 3rem;
        border-radius: 1rem 0 0 1rem;
        transition: .3s;
        z-index: var(--z-fixed);
    }
}

.nav__close {
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1.25rem;
    cursor: pointer;
}

.nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    margin-bottom: 0;
}

.nav__link {
    color: var(--title-color);
    font-weight: 600;
    transition: .3s;
}

.nav__link:hover {
    color: red;
}

/* dropdown menu */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    color: blue;
    /* Màu chữ của thẻ a */
}

.dropdown-menu-product {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-menu-product a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu-product a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-menu-product {
    display: block;
}


.label {
    position: relative;
    margin-right: 20px;
}

.label .submenu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.label:hover .submenu {
    display: block;
}

.label a {
    color: blue;
    text-decoration: none;
}

.label a:hover {
    background-color: #f1f1f1;
}

.show-menu {
    right: 0;
}

.active-link {
    position: relative;
    color: var(--first-color);
}

.active-link::after {
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 0;
    width: 50%;
    height: 2px;
    background-color: var(--first-color);
}


/* section home */
.home {
    padding: 3.5rem 0 2rem;
}

.home img {
    width: 100%;
    height: 600px;
}

.home__container {
    position: relative;
    row-gap: 2rem;
}

.home__img {
    width: 300px;
    justify-self: center;
}

.home__title {
    font-size: var(--big-font-size);
    line-height: 140%;
    margin-bottom: var(--mb-1);
}

.home__description {
    margin-bottom: var(--mb-2-5);
}

.home__social {
    position: absolute;
    top: 2rem;
    right: -1rem;
    display: grid;
    justify-items: center;
    row-gap: 3.5rem;
}

.home__social-follow {
    font-weight: var(--font-medium);
    font-size: var(--smaller-font-size);
    color: var(--first-color);
    position: relative;
    transform: rotate(90deg);
}

.home__social-follow::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2px;
    background-color: var(--first-color);
    right: -45%;
    top: 50%;
}

.home__social-links {
    display: inline-flex;
    flex-direction: column;
    row-gap: .25rem;
}

.home__social-link {
    font-size: 1rem;
    color: var(--first-color);
    transition: .3s;
}

.home__social-link:hover {
    transform: translateX(.25rem);
}




.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: 1rem 1.75rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    transition: .3s;
}

.button:hover {
    background-color: var(--first-color-alt);
}

.button__icon {
    transition: .3s;
}

.button:hover .button__icon {
    transform: translateX(.25rem);
}

.button--flex {
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
}

.button--link {
    background-color: silver;
    border-radius: 0.5rem;
    padding: 1rem;
    color: var(--first-color);
    font-weight: var(--font-medium);
}

.button--link:hover .button__icon {
    transform: translateX(.25rem);
}


/* about */
.about__container {
    row-gap: 2rem;
}

.about__img {
    width: 280px;
    justify-self: center;
}

.about__title {
    margin-bottom: var(--mb-1);
}

.about__description {
    margin-bottom: var(--mb-2);
}

.about__details {
    display: grid;
    row-gap: 1rem;
    margin-bottom: var(--mb-2-5);
}

.about__details-description {
    display: inline-flex;
    column-gap: .5rem;
    font-size: var(--small-font-size);
}

.about__details-icon {
    font-size: 1rem;
    color: var(--first-color);
    margin-top: .15rem;
}

/* change background header */
.scroll-header {
    box-shadow: 0 1px 4px hsla(var(--hue), 4%, 15%, .1);
}

/* step */
.steps__bg {
    background-color: var(--first-color);
    padding: 3rem 2rem 2rem;
    border-radius: 1rem;
}

.steps__container {
    gap: 2rem;
    padding-top: 1rem;
}

.steps__title {
    color: #fff;
}

.steps__card {
    background-color: var(--container-color);
    padding: 2.5rem 3rem 2rem 1.5rem;
    border-radius: 1rem;
}

.steps__card-number {
    display: inline-block;
    background-color: var(--first-color-alt);
    color: #fff;
    padding: .5rem .75rem;
    border-radius: .25rem;
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-1-5);
    transition: .3s;
}

.steps__card-title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-5);
}

.steps__card-description {
    font-size: var(--small-font-size);
}

.steps__card:hover .steps__card-number {
    transform: translateY(-.25rem);
}


/* product */
.product__description {
    text-align: center;
}

.product__container {
    padding: 3rem 0;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem 3rem;
}

.product__card {
    display: grid;
    position: relative;
}

.product__img {
    position: relative;
    width: 120px;
    justify-self: center;
    margin-bottom: var(--mb-0-75);
    transition: .3s;
}

.product__title,
.product__price {
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}

.product__title {
    margin-bottom: .25rem;
}

.product__button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: var(--first-color);
    color: #FFF;
    padding: .25rem;
    border-radius: .35rem;
    font-size: 1.15rem;
}

.product__button:hover {
    background-color: var(--first-color-alt);
}

.product__circle {
    width: 90px;
    height: 90px;
    background-color: var(--first-color-lighten);
    border-radius: 50%;
    position: absolute;
    top: 18%;
    left: 15%;
}

.product__card:hover .product__img {
    transform: translateY(-.5rem);
}

.product-main {
    grid-template-columns: 1fr 3fr;
    display: grid;
}

.product-show {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.1);
    background: white;
}

.product-show:hover {
    cursor: pointer;
    background-color: silver;
}

.product-show img {
    margin-bottom: 1rem;
    max-width: 250px;
    max-height: 250px;
}

.product-list {
    display: grid;
    column-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
}

.product-list p {
    color: red;
}


.show__category__index {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.show__category__index h1 {
    text-transform: uppercase;
    color: #007bff;
    margin: 2rem;
}

.show__category__main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.show__category__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: .5px solid silver;
}

.show__category__item h3 {
    margin-top: 1rem;
    font-size: 16px;
    color: #007bff;
    font-weight: bold;
}

.show__category__item p {
    text-align: center;
    font-size: 14px;
    line-height: 28px;
}

.show__category__item button {
    padding: .5rem 1rem;
    border-radius: 20px;
    background-color: #007bff;
    margin-bottom: 1rem;
}

.show__category__item button a {
    text-decoration: none;
    color: white;
}

.show__category__item img {
    width: 100%;
}

.show__category__item:hover {
    background-color: #007bff;
}


.show__category__item:hover h3,
.show__category__item:hover p {
    color: white;
}

.show__category__item:hover button {
    background-color: white;
}

.show__category__item:hover button a {
    color: #007bff;
}

.home__about__main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.home__about {
    margin: 3rem 0;
    background-color: #f1f1f1;
}


.contact__info__image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__info__image img {
    margin-bottom: 1rem;
}


section.customer__slide.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.customer__slide.container h1 {
    text-transform: uppercase;
    margin: 2rem 0 3rem;
    color: #007bff;
}

.slideshow-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.slideshow-container {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    justify-content: space-evenly;

}

.slideshow-container img {
    /* width: 25%; */
    height: auto;
    /* display: none; */
    /* Ẩn tất cả các hình ảnh trong slideshow ban đầu */

}

section.container.home__nv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home__nv h1 {
    color: #007bff;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.home__nv__main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home__nv__main2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}

.home__nv__item {
    min-width: 350px;
    margin: 1rem;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 8px hsla(var(--hue), 4%, 15%, .15);
}

.home__nv__item img {
    width: 300px;
    border-radius: 50%;
}

.home__nv__item h2 {
    font-size: 18px;
    margin: 1rem 0 .5rem;
    font-weight: bold;
}

.home__nv__item span {
    font-size: 16px;
    margin: 0 0 .5rem;
    font-weight: bold;
}

.home__nv__item p {
    line-height: 28px;
    padding: 0 2rem;
    font-size: 14px;
    text-align: center;
}


.questions {
    background-color: var(--first-color-lighten);
}

.questions__container {
    gap: 1.5rem;
    padding: 1.5rem 0;
}

.questions__group {
    display: grid;
    row-gap: 1.5rem;
}

.questions__item {
    background-color: var(--container-color);
    border-radius: .25rem;
}

.questions__item-title {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}

.questions__icon {
    font-size: 1.25rem;
    color: var(--title-color);
}

.questions__description {
    font-size: var(--small-font-size);
    padding: 0 1.25rem 1.25rem 2.5rem;
}

.questions__header {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    padding: .75rem .5rem;
    cursor: pointer;
}

.questions__content {
    overflow: hidden;
    height: 0;
}

.question__item,
.questions__header,
.questions__item-title,
.questions__icon,
.question__description,
.questions__content {
    transition: .3s;
}

.question__item:hover {
    box-shadow: 0 2px 8px hsla(var(--hue), 4%, 15%, .15);
}

.accordion-open .questions__header,
.accordion-open .questions__content {
    background-color: var(--first-color);
}

.accordion-open .questions__item-title,
.accordion-open .questions__description,
.accordion-open .questions__icon {
    color: #FFF;
}

.accordion-open .question__icon {
    transform: rotate(45deg);
}







.product-search {
    display: flex;
    margin: 1rem 0 1.5rem;
    flex-direction: column;
}

.product-search label,
.name-menu label,
.product-filter label {
    font-weight: bold;
}

.product-search input {
    border-radius: 15px;
    margin-top: 0.5rem;
    padding: 0.5rem;
    width: 80%;
}

.name-menu label a {
    text-decoration: none;
    color: black;
}

.menu {
    margin-top: 1rem;
    list-style-type: none;
    padding: 0;
}

.menu li a {
    text-transform: capitalize;
    font-weight: 700;
    text-decoration: none;
    color: #0080f8;
}

.menu li .submenu li a {
    color: black;
    font-weight: 400;
}

.name-menu label a:hover,
.menu li a:hover,
.menu li .submenu li a:hover {
    color: red;
}


.menu .submenu {
    margin-top: .5rem;
    margin-left: 1rem;
}

.menu .submenu li {
    margin-bottom: .5rem;
}

.product-filter {
    margin: 1rem;
}

.product-filter select#sort {
    padding: .5rem;
    border-radius: 15px;
}

.product-show h3 {
    font-size: 16px;
    margin: 5px;
}

.product-show span {
    color: red;
    font-weight: 500;
    margin: 5px;
}

.product-show a {
    text-decoration: none;
    font-size: 14px;
    background-color: #f5a805;
    color: black;
    margin: 5px 0 20px;
    border-radius: 15px;
    padding: .5rem .7rem;
}

.product-show a:hover {
    text-decoration: none;
    background-color: black;
    color: #f5a805;
}

.product-detail {
    margin-top: 2rem;
}

.product-detail .product_detail_title {
    text-transform: capitalize;
    text-align: center;
}

.product-detail button {
    margin-bottom: 1rem;
    padding: .3rem 1.5rem;
}

.product-link {
    margin: .5rem 0;
}

.product-more-info {
    display: flex;
    flex-direction: column;
    /* box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.1); */
}

.product-more-info1 {
    margin-bottom: 2rem;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

section.show-slider-img {
    display: flex;
    width: 500px;
    flex-direction: column;
    align-items: center;
}

.product-more-info2 {
    margin: 1rem .5rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.product-more-info2 p {
    margin: 1rem 0;
    line-height: 1.8;
}

.product-info-img {
    margin: 0 auto;
}

.product-info-img img {
    max-width: 300px;
}

.product-info-title {
    margin-left: 1rem;
    margin-top: 1.5rem;
}

.product-info-title h2 {
    color: red;
    margin: .5rem 0;
}

.product-info-title p {
    font-weight: bold;
    margin: .5rem 0;
}


.product-info-title button {
    background-color: #f59e00;
    font-weight: bold;
    padding: .5rem 1.5rem;
    margin: .5rem 0;
    border-radius: 15px;
}

.product-info-title button a {
    text-decoration: none;
}

.product-info-title button:hover {
    background-color: silver;
}

.product-info-title a {
    color: black;
}

/* question */
.questions {
    background-color: var(--first-color-lighten);
}

.questions__container {
    gap: 1.5rem;
    padding: 1.5rem 0;
}

.questions__group {
    display: grid;
    row-gap: 1.5rem;
}

.questions__item {
    background-color: var(--container-color);
    border-radius: .25rem;
}

.questions__item-title {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}

.questions__icon {
    font-size: 1.25rem;
    color: var(--title-color);
}

.questions__description {
    font-size: var(--small-font-size);
    padding: 0 1.25rem 1.25rem 2.5rem;
}

.questions__header {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    padding: .75rem .5rem;
    cursor: pointer;
}

.questions__header .questions__item-title {
    margin-bottom: 0;
}

.questions__content {
    overflow: hidden;
    height: 0;
}

.question__item,
.questions__header,
.questions__item-title,
.questions__icon,
.question__description,
.questions__content {
    transition: .3s;
}

.question__item:hover {
    box-shadow: 0 2px 8px hsla(var(--hue), 4%, 15%, .15);
}

.accordion-open .questions__header,
.accordion-open .questions__content {
    background-color: #074173;
}

.accordion-open .questions__item-title,
.accordion-open .questions__description,
.accordion-open .questions__icon {
    color: #FFF;
    line-height: 24px;
}

.accordion-open .question__icon {
    transform: rotate(45deg);
}

/* contact */
.contact__container {
    row-gap: 3.5rem;
}

.contact__data {
    display: grid;
    row-gap: 2rem;
}

.contact__subtitle {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--text-color);
    margin-bottom: var(--mb-0-5);
}

.contact__description {
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.contact__icon {
    font-size: 1.25rem;
}

.contact__inputs {
    display: grid;
    row-gap: 2rem;
    margin-bottom: var(--mb-2-5);
}

.contact__content {
    position: relative;
    height: 3rem;
    border-bottom: 1px solid var(--text-color-light);
}

.contact__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    right: 100%;
    padding: 1rem 1rem 1rem 0;
    background: none;

    color: var(--text-color);

    border: none;
    outline: none;
    z-index: 1;
}

.contact__label {
    position: absolute;
    top: .75rem;
    width: 100%;
    font-size: var(--small-font-size);
    color: var(--text-color-light);
    transition: .3s;
}

.contact__area {
    height: 7rem;
}

.contact__area textarea {
    resize: none;
}

.contact__input:focus+.contact__label {
    top: -.75rem;
    left: 0;
    font-size: var(--small-font-size);
    z-index: 10;
}

.contact__input:not(:placeholder-shown).contact__input:not(:focus)+.contact__label {
    top: -.75rem;
    font-size: var(--small-font-size);
    z-index: 10;
}

/* footer */
.footer__container {
    margin-top: 1.5rem;
    row-gap: 3rem;
}

.footer__logo {
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    color: #f59e00;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -1px;
    margin-bottom: 1rem;
    transition: .3s;
}

.footer-main-info {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.footer__logo-icon {
    font-size: 1.15rem;
    color: var(--first-color);
}

.footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__content p,
.footer__content h5 {
    color: white;
    margin: .5rem 0;
}



.footer__title {
    color: #f59e00;
    font-size: 16px;
    margin-bottom: var(--mb-1-5);
}

.footer__subscribe {
    background-color: var(--first-color-lighten);
    padding: .75rem;
    display: flex;
    justify-content: space-between;
    border-radius: .5rem;
}

.footer__input {
    width: 70%;
    padding: 0 .5rem;
    background: none;
    border: none;
    outline: none;
}

.footer__button {
    padding: 1rem;
}

.footer__data {
    display: grid;
    row-gap: .75rem;
}

.footer__infomation {
    text-align: center;
    line-height: 1.7;
    color: white;
    font-size: var(--small-font-size);
}

.footer__social {
    display: inline-flex;
    column-gap: .75rem;
}

.footer__social-link {
    font-size: 1rem;
    color: var(--text-color);
    transition: .3s;
}

.footer__social-link:hover {
    transform: translateY(-.25rem);
}

.footer__cards {
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
}

.footer__card {
    width: 35px;
}

.footer__copy {
    text-align: center;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
    margin: 5rem 0 1rem;
}

.footer-main {
    background-color: #1d252d;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* scroll up */
.scrollup {
    position: fixed;
    background-color: var(--first-color);
    right: 1rem;
    bottom: -30%;
    display: inline-flex;
    padding: .5rem;
    border-radius: .25rem;
    z-index: var(--z-tooltip);
    opacity: .8;
    transition: .4s;
}

.scrollup__icon {
    font-size: 1rem;
    color: #FFF;
}

.scrollup:hover {
    opacity: 1;
    background-color: var(--first-color-alt);
}

.show-scroll {
    bottom: 3rem;
}

::-webkit-scrollbar {
    width: .6rem;
    background: hsl(var(--hue), 4%, 53%);
}

::-webkit-scrolllbar-thumb {
    background: hsl(var(--hue), 4%, 29%);
    border-radius: .5rem;
}

/* variable dark theme */
body.dark-theme {
    --first-color-dark: hsl(var(--hue), 8%, 20%);
    --title-color: hsl(var(--hue), 4%, 95%);
    --text-color: hsl(var(--hue), 4%, 75%);
    --body-color: hsl(var(--hue), 8%, 12%);
    --container-color: hsl(var(--hue), 8%, 16%);
}

.dark-theme .steps__bg,
.dark-theme .questions {
    background-color: var(--first-color-dark);
}

.dark-theme .product__circle,
.dark-theme .footer__subscribe {
    background-color: var(--container-color);
}

.dark-theme .scroll-header {
    box-shadow: 0 1px 4px hsla(var(--hue), 4%, 4%, .3);
}

/* button dark light */
.change-theme {
    color: var(--title-color);
    font-size: 1.15rem;
    cursor: pointer;
}

.nav__btns {
    display: inline-flex;
    align-items: center;
    column-gap: 1rem;
}

.grid-container {
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* page news */

.viewslist {
    border-bottom: 1px solid black;
}

.image__1 {
    display: flex;
    margin: 1.5rem 0;
    flex-direction: column;
    align-items: center;
}

.image__2 {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
}

.image__2 img {
    width: 350px;
}

.new {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.new img {
    width: 250px;
}

.new .info {

    margin-left: 1rem;
}

.new .info a span {
    color: var(--first-color);
}

.news-title {
    padding: 1rem 0 3rem;
    font-size: 40px;
    text-align: center;
}

.contact__info__map iframe {
    width: 100%;
}


/* page news details */
.detail-content {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.detail-content h1 {
    padding: 2rem 0 1rem;
}

.detail-content span {
    color: green;
    padding: 0 0 1rem;
}

.detail-content img {
    margin: 1rem auto;
    width: 500px;
}

.detail-content p {
    line-height: 2.1rem;
}

.buttonBack {
    border-radius: 5px;
    background-color: silver;
    padding: 5px 20px;
}

.buttonBack:hover {
    background-color: var(--first-color);
    color: silver;
}

.buttonBack:hover .button__icon {
    transform: translateX(.25rem);
}

.show-slider-img .slider-for {
    display: flex;
    width: 100%;
}

.show-slider-img .slider-for button {
    background-color: silver;
    margin-bottom: 0;
    height: 30px;
    border-radius: 20px;
}

.show-slider-img .slider-for button::before {
    margin: 0 -10px;
}

.slick-list .slick-track .slick-slide img {
    margin: 0 auto;
}


/* responsive */
@media screen and (max-width: 320px) {
    .container {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }

    .home__img {
        width: 180px;
    }

    .home__title {
        font-size: var(--h1-font-size);
    }

    .steps__bg {
        padding: 2rem 1rem;
    }

    .step__card {
        padding: 1.5rem;
    }

    .product__container {
        grid-template-columns: 6fr;
        justify-content: center;
    }

    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .new {
        padding: .5rem;
    }
}

@media screen and (max-width:430px) {
    .home__nv__main2 {
        flex-direction: column;
    }

    .footer__content h5,
    .footer__content p {
        text-align: center;
    }

    .home__nv h1 {
        text-align: center;
    }

    .home img {
        height: auto;
    }

    .home {
        padding: 5rem 0 2rem;
    }

    section#about {
        padding: 2rem 0;
    }

    section.customer__slide.container h1 {
        text-align: center;
    }

    .owl-carousel .owl-item img {
        width: fit-content !important;
        margin: 0 auto;
    }

    nav.nav.container {
        height: 80px;
    }

    .section__title-center {
        font-size: 32px;
    }

    .show__category__index h1 {
        text-align: center;
    }

    .show__category__item h3 {
        text-align: center;
    }

    .show__category__item p {
        font-size: 12px;
        padding: 0 .5rem;
    }

    .contact__infomation p {
        line-height: 30px;
    }

    .product-main {
        display: flex;
        flex-direction: column;
    }

    .product-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .product-show img {
        max-width: 150px;
        max-height: 150px;
    }

    .product-search input {
        width: 100%;
    }

    .product-more-info1 {
        display: flex;
        flex-direction: column;
    }

    .product-info-img {
        margin: 0 1rem;
    }

    section.show-slider-img {
        width: 100%;
    }

    .image__2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media screen and (min-width:321px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }

    /* .home__nv__main2 {
        display: flex;
        flex-direction: column;
    } */

    .owl-carousel .owl-item img {
        width: fit-content !important;
        margin: 0 auto;
    }


}

/* for medium device */
@media screen and (min-width: 576px) {
    .steps__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .product__description {
        padding: 0 4rem;
    }

    .product__container {
        grid-template-columns: repeat(2, 170px);
        justify-content: center;
        column-gap: 5rem;
    }

    .footer__subscribe {
        width: 400px;
    }

    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }


}

@media screen and (min-width: 767px) {
    body {
        margin: 0;
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);
        column-gap: 3rem;
    }

    .nav__toggle,
    .nav__close {
        display: none;
    }

    .nav__list {
        flex-direction: row;
        column-gap: 3rem;
    }

    .nav__menu {
        margin-left: auto;
    }

    .home__container,
    .about__container,
    .questions__container,
    .contact__container,
    .footer__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .home__container {
        align-items: center;
    }

    .home {
        padding: 10rem 0 5rem;
    }

    .home__img {
        width: 280px;
        order: 1;
    }

    .home__social {
        top: 30%;
    }

    .questions__container {
        align-items: flex-start;
    }

    .footer__container {
        column-gap: 2rem;
    }

    .footer__subscribe {
        width: initial;
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* for large device */
@media screen and (min-width: 992px) {
    .home__nv__main1 {
        margin: 0 1rem;
    }

    .container {
        margin-left: auto;
        margin-right: auto;
    }

    .section {
        padding: 5rem 0 1rem;
    }

    .section__title,
    .section__title-center {
        font-size: var(--h1-font-size);
    }

    .home {
        padding: 5rem 0 5rem;
    }

    .home__img {
        width: 350px;
    }

    .home__description {
        padding-right: 7rem;
    }

    .about__img {
        width: 380px;
    }

    .steps__container {
        grid-template-columns: repeat(3, 1fr);
    }

    .steps__bg {
        padding: 3.5rem 2.5rem;
    }

    .steps__card-title {
        font-size: var(--normal-font-size);
    }

    .product__description {
        padding: 0 16rem;
    }

    .product__container {
        padding: 4rem 0;
        grid-template-columns: repeat(3, 185px);
        gap: 4rem 6rem;
    }

    .product__img {
        width: 160px;
    }

    .product__circle {
        width: 110px;
        height: 110px;
    }

    .product__title,
    .product__price {
        font-size: var(--normal-font-size);
    }

    .questions__container {
        padding: 1rem 0 4rem;
    }

    .questions__title {
        text-align: initial;
    }

    .questions__group {
        row-gap: 2rem;
    }

    .questions__header {
        padding: 1rem;
    }

    .questions__description {
        padding: 0 3.5rem 2.25rem 2.75rem;
    }

    .footer__logo {
        font-size: 40px;
    }

    .footer__container {
        grid-template-columns: repeat(5, 1fr);
    }

    .footer__copy {
        margin: 5rem 0 2rem;
    }

    .detail-content {
        padding: 1rem;
    }
}

@media screen and (max-width: 1025px) {
    .home__nv__item {
        min-width: 300px;
    }
}

@media screen and (max-width: 825px) {
    .home__nv__item {
        min-width: 240px;
    }
    .nav {
        height: fit-content;
    }

    .product-list {
        grid-template-columns: 1fr 1fr;
    }

    .show-slider-img .slider-for {
        width: 80%;
    }

    .product-info-title h2 {
        font-size: 20px;
    }

    .image__2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: .5rem;
        column-gap: .5rem;
    }

    .news-title {
        padding: 2rem 0 3rem;
    }

}

@media screen and (min-width: 1200px) {
    .home__social {
        right: -3rem;
        row-gap: 4.5rem;
    }

    .home__social-follow {
        font-size: var(--small-font-size);
    }

    .home__social-follow::after {
        width: 1.5rem;
        right: -60%;
    }

    .home__social-link {
        font-size: 1.15rem;
    }

    .about__container {
        column-gap: 7rem;
    }

    .scrollup {
        right: 3rem;
    }
}